@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    font-family: 'Poppins';
}

body {

    background-color: #22a6b3;

}


.main-title{

    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    height: 100vh;

}
.main-title h1{

    color:#EAE6E5 ;
    text-align: center;
    margin: 1rem;
    font-size: 2.5rem;

}

.titleName {
  font-size: 1.5rem;
}

.titleLevel {
  font-size: 1rem;
}

.main-title img {
    height: 10rem;
    
}

.summoner_card {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 0.5rem;
}

.summoner_card img {
    border-radius: 5rem;
    height:  5rem;
}

.search_input {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 0.5rem;

    input {
      padding: 0.5rem;
      border: none;
      border-radius: 4px;
      text-align: center;
      width: 60%;
      font-size: 1.1em;
      border: 1px solid #7ed6df;
      transition: border-color 0.3s ease;

    }

    input::placeholder {
        font-size: 1em; /* Tamaño grande del marcador de posición */
      }

    label {
      color: #fff;
      text-align: center;
      background-color: #d7385e;
      padding: 8px;
      border-radius: 4px;
      width: 15%;
      margin: 0;
    }

    button {
      color: #fff;
      background-color: #d7385e;
      padding: 10px;
      border-radius: 4px;
      cursor: pointer;
      width: 20%;
      border-style: none;
    }
      
  }